body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.service{
    background-image: url("ciel-etoile-etoiles-sombre.jpg");
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.carte{
    height: 365px;
    width: 335px;
    pad: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: center;
    text-align: center;
}

img{
    margin-top: 10px;
    height: 70px;
}

h5{
    color:rgb(0, 0, 0);
    font-size: 23px;
    margin-bottom: 15px;
}

.text p{
    color: blue;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.carte .bouton{
    background-color: rgb(100, 100, 247);
    color:blue;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.carte .bouton:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid blue;
    cursor: pointer;
}

.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #8ddbff;
    font-size: small;
    margin-top: 10px;
    margin-left: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #8ddbff;
}

.carte .text{
    margin-top: 10px;
    font-size: 40px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bouton{
    background-color: rgb(100, 100, 247);
    color:blue;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.toggle-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: darkblue;
  }
  